<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>mackintosh Compiler</title>
        <link rel='stylesheet' href='/css/mackComp.css'>
    </head>

    <body>
        <h1>mackintosh Online Compiler</h1>
        <!--Link to source language reference sheet from class website-->
        <div>
            <a href='https://www.labouseur.com/courses/compilers/grammar.pdf' target='_blank'>Language Grammar Reference</a>
        </div>

        <!--Input and output forms-->
        <p>Input source code here:</p>
            <div id='compiler'>
                <form id='input'>
                    <fieldset>
                        <label>
                            Input Code:
                        </label>
                        <input type='text' name='textInput' />
                    </fieldset>
                    <button type='submit'>Compile</button>
                </form>
            </div>
            <p>Output:</p>
            <textarea id='output' rows='15', cols='30'></textarea>
        <script type='text/javascript'>
            function compile() {
                //placeholder function for when the button needs to be implimented. if only it were actually this easy...
                document.getElementById('output').innerHTML = 'Compile!';
            }
        </script>
    </body>
</html>