<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>mackintosh Compiler</title>
        <link rel="stylesheet" href="/css/mackComp.css">
    </head>

    <body>
        <h1>mackintosh Online Compiler</h1>

        <!--Input and output forms-->
        <p>Input source code here:</p>
        <div>
            <textarea id="input"></textarea>
            <input type="button" id="compile" value="Compile" onclick="compile_click();">
            <p>Output:</p>
            <textarea id="output"></textarea>
        </div>
        
        <!--Import Scripts-->
        <script type="text/javascript" src="/src/app.js"></script>
        <script type="text/javascript">
            function compile_click() {
                //placeholder function for when the button needs to be implimented. if only it were actually this easy...
                console.log("Compile!");
            }
        </script>
    </body>
</html>