<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>
            mackintosh Compiler
        </title>
    </head>

    <body>
        <h1>Blake Mackey - mackintosh</h1>

        <!--Input and output forms-->
        <p>Input source code here:</p>
        <div>
            <textarea id="input"></textarea>
            <input type="button" id="compile" value="Compile">
            <p>Output:</p>
            <textarea id="output"></textarea>
        </div>
        
        
        <!--Scripts-->
        <script>src="./app.js"</script>
    </body>
</html>